@model Equipe

@{
    ViewData["Title"] = "Equipe";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipes</title>
</head>

<body>
    <h1>Tela de Equipes</h1>

    <form method="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
        <label for="">Nome</label>
        <input type="text" name="Nome" required>

        <label for="">Imagem</label>
        <input type="file" name="Imagem">

        <button type="submit">Cadastrar</button>
    </form>

    @* criando uma table para armazenar nossos dados *@

    <table class="table table-striped table-responsive">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Imagem</th>
            <th>Excluir</th>
            <th>Editar</th>
        </thead>

        <tbody>

            @foreach (Equipe equipe in ViewBag.Equipe)
            {

                <tr>
                    <td>@equipe.IdEquipe</td>
                    <td>@equipe.Nome</td>
                    <td>
                        <img src="/img/Equipes/@equipe.Imagem" alt="" width="60px">

                    </td>
                    <td>
                                @* uma forma de fazer: *@
                        @* <a href="http://localhost:5195/Equipe/Excluir/@equipe.IdEquipe">

                            <input type="button" id="delete" value="Delete" asp-controller="Equipe" asp-action="Excluir"
                                class="btn btn-primary" onclick="DeleteItem(@equipe.IdEquipe)">
                        </a> *@
                                @* Outra forma de fazer: *@
                        <a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe"> 🗑️ </a>

                    </td>
                    <td>
                        
                            <a  class="nav-link text-dark" asp-area="" asp-controller="Equipe" asp-action="Editar" asp-route-id="@equipe.IdEquipe"> ✏️ </a>

                    </td>
                </tr>

            }

        </tbody>

    </table>

</body>

</html>