@model Equipe

@{
    ViewData["Title"] = "Equipe";
}

<link rel="stylesheet" href="~/css/equipes.css">

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipes</title>
</head>

<body>

    <main>

        <section class="banner">

            <article class="container-grid equipes-flex container-grid-d">

                <div class="border-gradient">

                    <form class="box-equipes" method="post" action='@Url.Action("Cadastrar")'
                        enctype="multipart/form-data">

                        <h1>Cadastro de Equipes</h1>
                        <hr>

                        <div class="input-gradient-equipes">
                            <input type="text" placeholder="Digite o nome da sua equipe...">
                        </div>

                        <div class="image-equipe">
                            <label for="input-file"></label>
                            <input id="input-file" name="team-avatar" type="file" accept="image/png, image/jpeg">
                            </input>
                        </div>

                        <button class="cadastro">Cadastro</button>

                    </form>

                </div>

            </article>

            <article class="container-grid">

                @* criando uma table para armazenar nossos dados *@

                <table class="table table-striped table-responsive">

                    <thead>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Imagem</th>
                        <th>Excluir</th>
                        <th>Editar</th>
                    </thead>

                    <tbody class="scroll">


                        @foreach (Equipe equipe in ViewBag.Equipe)
                        {

                            <tr class="table-line">
                                <td>@equipe.IdEquipe</td>
                                <td>@equipe.Nome</td>

                                <td>
                                    <img src="/img/Equipes/@equipe.Imagem" alt="" width="60px">
                                </td>

                                <td>
                                    @* uma forma de fazer: *@
                                    @* <a href="http://localhost:5195/Equipe/Excluir/@equipe.IdEquipe">

                                <input type="button" id="delete" value="Delete" asp-controller="Equipe"
                                asp-action="Excluir"
                                class="btn btn-primary" onclick="DeleteItem(@equipe.IdEquipe)">
                                </a> *@
                                    @* Outra forma de fazer: *@
                                    <a asp-area="" asp-controller="Equipe" asp-action="Excluir"
                                        asp-route-id="@equipe.IdEquipe">
                                        🗑️
                                    </a>

                                </td>

                                <td>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Equipe" asp-action="Editar"
                                        asp-route-id="@equipe.IdEquipe"> ✏️ </a>
                                </td>
                            </tr>

                        }

                    </tbody>

                </table>

            </article>

        </section>

    </main>

</body>

</html>