@model Jogador

@{
    ViewData["Title"] = "Jogador";
}

<link rel="stylesheet" href="~/css/jogadores.css">

@if (ViewBag.Login == null)
{
    <a asp-area="" asp-controller="Login" asp-action="Index"> Login </a>
}
else
{

    <body>
        <main>
            <section class="banner-desktop">

                <article class="container-grid jogadores-flex container-grid-d">

                    <div class="border-gradient-jogadores">

                        <form class="box-jogadores" method="post" action='@Url.Action("Cadastrar")'
                            enctype="multipart/form-data">

                            <h1>
                                Cadastro de Jogadores
                            </h1>

                            <div class="input-gradient-jogadores">
                                <input type="text" placeholder="Digite o nome do jogador..." name="Nome">
                            </div>

                            <div class="input-gradient-jogadores">
                                <input type="email" placeholder="Digite o email do jogaodor..." name="Email">
                            </div>

                            <div class="input-gradient-jogadores">
                                <input type="password" placeholder="Digite a senha..." name="Senha">
                            </div>

                            <select name="IdEquipe" id="IdEquipe" style="width: 80%;" id="select-team">

                                <option value="0">Selecione o Id da Equipe</option>
                                @foreach (Equipe equipe in ViewBag.Equipe)
                                {
                                    <option value="@equipe.IdEquipe">@equipe.Nome</option>
                                }

                            </select>

                            <button type="submit" class="cadastro">Cadastro</button>

                        </form>

                    </div>

                </article>


                <article class="table table-striped container-grid">
                    <table>
                        <thead>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Equipe</th>
                            <th>Excluir</th>
                            <th>Editar</th>
                        </thead>

                        <tbody class="scroll">
                            @foreach (Jogador jogador in ViewBag.Jogador)
                            {
                                <tr class="table-line">
                                    <td>@jogador.IdJogador</td>
                                    <td>@jogador.Nome</td>
                                    <td>@jogador.Email</td>

                                    <td>
                                        <img src="~/img/Equipes/@jogador.Equipe.Imagem" width="50px" alt="">
                                    </td>

                                    <td>
                                        <a asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador"> 🗑️
                                        </a>
                                    </td>

                                    <td>
                                        <a asp-area="" asp-controller="Jogador" asp-action="Editar"
                                            asp-route-id="@jogador.IdJogador"> ✏️ </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </article>

            </section>

        </main>

    </body>
}

